/* index (login y register) */
.hidden {
    display: none; 
    padding-top: 30px;
  } 
  
  body {
    background-color: rgb(225, 230, 231);
  }
  
  
  .section-forms {
    width: 500px;
    height: 550px;
    box-align: center;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    margin: auto;
    padding: 35px;
    box-sizing: border-box;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2)
  }
  
  .logo-qnut {
    width: 100%;
    height: 30%;
  }
  
  
  .update-password {
    text-align: right;
    font-size: 14px;
    padding: auto;
  }
  /* .show{     
    margin: 0.5em auto;
  } */
  
  .button
  {
    width:80%;
    background-color:#93b462;  
    border: 0px;
    box-shadow: 0 0 10px rgba(83, 83, 83, 0.2);
    color: white;  
    padding: 15px;
    font-size: 20px;
    margin-top: 5px;
    border-radius: 10px;
  }
  
  .inputs {
    padding: 5px;
  }
  
  .boton:hover
  {
    background-color:#79954f;  
  }
  
  /* .inputInd
  {
    width:100% ;
    padding: 20px;  
    box-sizing: border-box;
    margin-bottom: 30px;
    border: none;
    border:  0px;
    border-bottom: solid #ccc 1px;
  } */
  
  .icon-snf {
    display: inline-block;
  
  }
  
  .icon-sng {
    display: inline-block;
  }
  
  .slogan{
    color: #79954f;
    font-size: 20px;
  }
  
  footer {
    text-align: left;
    color: #333333;
    font-size: 12px;
    margin-left: 20px;  
  }
  
  .login-invite {
  text-align: left;
  float: left;
  font-size: 14px;
  }
  
  .register
  {  
  text-align: right;
  display: flow-root;  
  font-size: 14px;
  }
  
  
  
  
  /* aqui lo de muro*/
  
  
  
  
  /*
  .hidden {
      display: none;
  }
  .show{
  background-color: #ffffff;
  margin: 0.5em auto;
  max-width: 400px;
  padding: 30px;
  text-align: center;
  }
  
  .body-index
  {
  background-image:url(img/fondo-prueba-1.png);
  background-size: 100vw 100vh; 
  }
  
  .body-timeline{
  background-image:url(img/fondo.jpg);
  background-size: 100vw 100vh;     
  opacity: initial;
  }
    
  h2
  {
  color:#000000; 
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;     
  }
  
  p{
  text-align: center;
  }
  
  .icon-login {
  width: 50px;
  height: auto;
  border-image: 0px;
  align-content: center;
  }
  
  h3
  {
  color:#fff;  
  text-align: center;
  margin-bottom: 20px;     
  }
  
  form 
  {
  width:350px;
  margin: auto;  
  padding: 10px 20px;  
  box-sizing: border-box;    
  margin-top: 20px;
  border-radius: 7px;  
  }
  
  input, .textarea 
  {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 12px;
  border: none;    
  }
  
  */ 